.judul-blog{
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  margin: 2rem 0;
  text-align: center;
}

.image-blog{
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  margin: 2rem 0;
  position: relative;
  transition: .3s;
  display: grid;

  &:nth-child(2){
    margin: 0 0 2rem 0;
  }

  &:nth-child(5):hover{
    opacity: .8;
    cursor: pointer;

    .anticon.anticon-play-circle{
      transform: scale(1.4);
    }
  }
}

.anticon.anticon-play-circle{
  position: absolute;
  justify-self: center;
  align-self: center;
  color: $warna-kedua;
  font-size: 4rem;
  transition: .3s;
}

.p-blog{
  font-family: 'Merriweather', serif;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  padding: 0 15%;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: rgba(0,0,0,.8);
}