.navbar{
  width: 100%;
  background: $biru-cerah;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
  box-shadow: 3px 0 10px rgba(0,0,0,.3);

  .humberger{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: none;

    div{
      width: 100%;
      height: 5px;
      background-color: black;
      position: absolute;

      &::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 5px;
        background-color: black;
      }

      &::before{
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 5px;
        background-color: black;
      }
    }
  }

  h1{
    font-weight: bolder;
    font-size: 2.5rem;
  }

  ul{
    list-style: none;
    display: flex;
    transition: .3s;

    a{
      padding: 1rem;
      margin: 0 1rem;
      // font-weight: bold;
      letter-spacing: 1px;
      text-decoration: none;
      color: $warna-utama;

      &:hover{
        cursor: pointer;
        background: $biru-kehitaman;
      }
    }
  }
}

.aksi-navbar{
    display: flex;
    align-items: center;
    transition: .3s;

    input{
      border: none;
      outline: none;
      background-color: $warna-kedua;
      color: $warna-utama;
      padding: .5rem 1rem .5rem .5rem;
      margin: 0 -.7rem 0 20px;
      border: 2px solid $pink;
      transition: all .5s ease-in-out;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    button{
      border: none;
      outline: none;
      background-color: $pink;
      border: 2px solid $pink;
      padding: .5rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: .3s;
      font-weight: bold;
      cursor: pointer;

      &:active{
        transform: scale(.9);
      }
    }
}