$warna-utama: #363732;
$warna-kedua: #DCE1E9;
$biru-kehitaman: #66C3FF;
$biru-cerah: #53D8FB;
$pink: #D4AFB9;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #DCE1E9;
}

.root{
  font-family: 'Merriweather', serif;
}

.navbar{
  width: 100%;
  background: $biru-cerah;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
  box-shadow: 3px 0 10px rgba(0,0,0,.3);

  .humberger{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: none;

    div{
      width: 100%;
      height: 5px;
      background-color: black;
      position: absolute;

      &::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 5px;
        background-color: black;
      }

      &::before{
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 5px;
        background-color: black;
      }
    }
  }

  h1{
    font-weight: bolder;
    font-size: 2.5rem;
  }

  ul{
    list-style: none;
    display: flex;
    transition: .3s;

    a{
      padding: 1rem;
      margin: 0 1rem;
      // font-weight: bold;
      letter-spacing: 1px;
      text-decoration: none;
      color: $warna-utama;

      &:hover{
        cursor: pointer;
        background: $biru-kehitaman;
      }
    }
  }
}

.aksi-navbar{
    display: flex;
    align-items: center;
    transition: .3s;

    input{
      border: none;
      outline: none;
      background-color: $warna-kedua;
      color: $warna-utama;
      padding: .5rem 1rem .5rem .5rem;
      margin: 0 -.7rem 0 20px;
      border: 2px solid $pink;
      transition: all .5s ease-in-out;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    button{
      border: none;
      outline: none;
      background-color: $pink;
      border: 2px solid $pink;
      padding: .5rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: .3s;
      font-weight: bold;
      cursor: pointer;

      &:active{
        transform: scale(.9);
      }
    }
}

.judul{
  grid-column: 1/3;
  padding: 1rem;
  font-size: 2.3rem;
}

.konten{
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1.5rem;
}

.post{
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-template-rows: repeat(auto-fit);
  margin-bottom: 1rem;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.3),
              -4px -4px 10px rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 1s ease-in-out;


  &:last-child{
    margin-bottom: 3rem;
  }

  img{
    grid-row: 1/4;
    width: 100%;
  }

  h3{
    justify-self: start;
    align-self: start;
    font-size: 1.9rem;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  p{
    line-height: 1.5rem;
    font-size: 1rem;
    opacity: .7;
  }

  a{
    justify-self: start;
    align-self: end;
    color: $biru-kehitaman;
  }
}

.besar{
  margin: 0 1rem 2rem 1rem;
}

.konten-kanan{
  padding: 1rem;
  box-shadow: 3px 3px 10px rgba(0,0,0,.3),
              -4px -4px 10px rgba(255, 255, 255, 1);
  height: fit-content;
  // margin-right: 1.5rem;
  border-radius: 10px;
}

.post-kecil{
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-column-gap: 10px;
  margin: 1rem 0;

  img{
    grid-row: 1/3;
    width: 100%;
  }

  h5{
    justify-self: start;
    align-self: start;
    font-size: 1.3rem;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  a{
    color: $biru-kehitaman;
    justify-self: start;
    align-self: end;
  }
}

.isi-tag{
  display: flex;
  flex-wrap: wrap;

  .tag{
    background-color: $warna-utama;
    color: $warna-kedua;
    padding: .2rem;
    font-size: .8rem;
    margin: 3px;
    letter-spacing: .1rem;
    cursor: pointer;
  }
}

.badan-footer{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
}

.kartu{
  justify-self: center;
  align-self: center;
  background-color: $warna-utama;
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-row-gap: 2rem;
  padding: 5rem 1rem;
  border-radius: 10px;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 200px;
    bottom: calc(90% - 100%);
    background-color: $warna-utama;
    justify-self: center;
    z-index: -1;
    filter: blur(10px);
  }

  h1{
    color: $biru-cerah;
    font-size: 2.5rem;
    text-align: center;
  }

  div{
    align-self: center;
    justify-self: center;
    position: relative;

    input{
      outline: none;
      border: 2px solid $pink;
      background-color: $warna-kedua;
      padding: .5rem;
      padding-right: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-right: -10px;
    }

    span{
      position: absolute;
      color: $warna-kedua;
      left: .5rem;
      top: -1.2rem;
      letter-spacing: .1rem;
    }

    button{
      outline: none;
      border: 2px solid $pink;
      padding: .5rem;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $pink;
      color: $warna-utama;
      font-weight: bold;
      cursor: pointer;
      transition: .3s;

      &:active{
        transform: scale(.9);
      }
    }
  }
}

.footer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  padding: 0 2rem;
}

.sosial-media{

  p{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  span{
    margin-right: 5px;
    font-size: 1.2rem;
    color: $warna-kedua;
    background-color: $warna-utama;
    opacity: .6;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

.kenapa-saya{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 3rem;

  h6{
    font-size: 1.1rem;
    width: fit-content;
  }

  p{
    margin: 5px 0;
    opacity: .9;
    cursor: pointer;
    width: fit-content;

    &:hover{
      opacity: 1;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1332px){
  .kartu{
    grid-template-columns: repeat(auto-fit);
  }
}

@media screen and (max-width: 766px){
  .footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    transition: .5s ease-in-out;

    .humberger{
      display: block;
      justify-self: end;
      z-index: 999;

      div{
        z-index: 2;

        &::after{
          z-index: 1;
        }

        &::before{
          z-index: 1;
        }
      }
    }

    ul{
      display: grid;
      grid-template-columns: repeat(4, minmax(50px, 1fr));
      grid-column: 1/3;
      animation: muncul .5s;

      &.simpan{
        display: none;
      }

      li{
        align-self: center;
        justify-self: center;
      }
    }

    .aksi-navbar{
      grid-column: 1/3;
      align-self: center;
      justify-self: center;
      animation: muncul .5s ease-in-out;

      &.simpan{
        display: none;
      }
    }
  }

  @keyframes muncul{
    from{
      transform: translateX(-50px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (max-width: 1075px){
  .navbar{
    flex-direction: column;
  }
}